export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_DB=eleicoes2022
export POSTGRES_USER=eleicoes2022
export POSTGRES_PASSWORD=<password here>
export POSTGRES_DSN="host=${POSTGRES_HOST} port=${POSTGRES_PORT} dbname=${POSTGRES_DB} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD}"


